@charset "utf-8";
/* CSS Document */

/* 全体の設定
--------------------*/
header,footer,nav,section{display:block;}

body,p,h1,h2,h3,h4,h5,h6,
ul,li,img{
	margin:0;
	padding:0;
	font-size:110%;
	line-height:140%;
	font-weight:normal;
}

.clearfix{zoom:1;}
.clearfix:after{
	content:"";
	clear:both;
	display:block;
}

body{font-size:13px;-webkit-text-size-adjust:none;}

img{border:none;}
li{list-style:none;}

a{color:#489e2d;}/* リンク色変更はここ */

/*----------------------------------------
 トップページここから
----------------------------------------*/

/* ヘッダ部分
--------------------*/

h1{
	background:url(img/line_t.gif) repeat-x bottom center #489e2d;
	color:#fff;
	font-size:12px;
	padding:2px 0 2px 10px;
}

#box_t{
	background:url(img/bg_t.gif) repeat-x;
	height:71px;
	text-align:center;
}

#group{
    width:40px;
    text-align:center;
}

h2#top{
	font-size:18px;
	font-weight:bold;
	padding-top:20px;
	color: #489e2d;
	text-shadow: 0 1px 0 white;
}

/* 導入テキスト部分
--------------------*/

#intro{
	margin:15px 10px 0;
}

/* カテゴリ部分
--------------------*/
#catebox{
	width:315px;
	margin:0 auto;
}

#catebox ul{
	background:#ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:10px 0 0 10px;
	margin:15px 10px;
}

#catebox li{
	float:left;
	text-align:center;
	margin:0 10px 10px 0;
}

#catebox li img{
	border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

#catebox a{
	text-decoration:none;
}

/* 広告部分
--------------------*/
.ad{
	text-align:center;
	margin:0 10px 15px;
}

/* 最後の文章部分
--------------------*/
#outro{
	margin:0 10px 15px;
}


/* フッタ部分
--------------------*/
#footer{
	text-align:center;
	background:url(img/line_b.gif) repeat-x top center #489e2d;
	color:#fff;
	font-size:12px;
	padding:5px 0;
}

#footer a{color:#fff; text-decoration:none;}

/*----------------------------------------
 カテゴリページここから
----------------------------------------*/
/* ヘッダ部分
--------------------*/
h2#cate{
	font-size:18px;
	font-weight:bold;
	padding-top:20px;/* カテゴリ名が長くて2行になるときはここで高さ調整 */
	color: #489e2d;
	text-shadow: 0 1px 0 white;
	margin:0 10px;
	text-align:left;
}

#box_t p img{
	margin:5px 7px 0 10px;
	border-radius:6px;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, .3);
	-webkit-border-radius:6px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, .3);
	float:left;
}

/* サイト紹介部分
--------------------*/
h3{
	color:#489e2d;
	font-size:16px;
	background:url(img/sitebg.gif) repeat-x;
	line-height:29px;
	height:29px;
	padding-left:10px;
	margin-top:15px;
}

h3 span{
	background:url(img/icon1.gif) no-repeat left center;
	padding-left:18px;
}

.sitebox div{
	margin:10px;
}

.siteimg{
	float:left;
	margin-right:10px;
}

.siteimg img{
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.sitetxt{
	float:left;
	width:200px;
}

@media screen and (min-width: 480px) {
	.sitetxt{
	float:left;
	width:360px;
	}
}

.sitebtn{text-align:center;}

.sitebtn a,
#homebtn a{
	display:block;
	text-decoration:none;
	text-shadow:0 1px 0 white;
	font-size:14px;
	font-weight:bold;
	line-height:37px;
	margin:0 auto;
	width:170px;
	height:35px;
	border:1px solid #8b8b8b;
	border-radius:4px;
	-webkit-border-radius:4px;
	background:-moz-linear-gradient(top,#f4f3f3,
									#ecebeb 50%,
									#e3e3e3 51%,
									#d9d9d9);
	background:-webkit-gradient(linear, left top, left bottom, from(#f4f3f3),
									color-stop(0.5, #ecebeb),
									color-stop(0.51, #e3e3e3),
									to(#d9d9d9));
}
